@import "tailwindcss";

/* Class-based dark mode (matches dark class on <html>) */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-page-bg: var(--page-background);
}

/* 3. Assign your light and dark background values here */
@layer theme {
  :root {
    --page-background: #ffffff; /* This replaces bg-white */

    @variant dark {
      --page-background: #000000; /* This replaces bg-gray-900 */
    }
  }
}

@font-face {
  font-family: "Google Sans";
  src: url("/fonts/GoogleSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Extra-Light";
  src: url("/fonts/Roboto.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


@theme {
  /* This maps 'font-sans' utilities directly to your custom font variable */
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
  
  /* You can also add custom sizes with line-heights bundled together */
  --text-base: 1rem;
  --text-base--line-height: 1.75;
}



@import "https://www.nerdfonts.com/assets/css/webfont.css";
